.instrument-overview {
    margin-top: 20px;
  }

  .instrument-overview h2 {
    margin-bottom: 10px;
  }

  .instrument-overview ul {
    list-style-type: none;
    padding: 0;
  }

  .instrument-overview li {
    background-color: #28293e;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }
